html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url(./imgs/patrick-tomasso-GXXYkSwndP4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
}

#content {
    height: 100%;
    width: 100%;
    
}